body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 15px auto;
  max-width: 600px;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

footer {
  font-size: 15px;
  font-style: italic;
  text-align: center;
}

.weather {
  border: 2px solid gray;
  padding: 12px;
  border-radius: 15px;
}

#currentTemp {
  font-size: 50px;
}

.unitStyle {
  position: relative;
  right: -56px;
  top: -64px;
}
